<section class="navbar">
  <div *ngIf="mode === 'detail'">
    <a
      class="navbar__item"
      [routerLink]="['/list']"
      >⬅</a
    >
  </div>
  <div *ngIf="mode !== 'detail'">
    <a
      class="navbar__item"
      *ngFor="let route of routes"
      [ngClass]="{ 'current-page': mode === route }"
      [routerLink]="[route]"
      >{{routeNames.get(route)}}</a
    >
  </div>
</section>
