@import "../../../../variables";

.navbar {
  padding: 1rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  background-color: $main-color;

  font-family: sans-serif;
  font-weight: lighter;

  &__item {
    margin: 0 1rem;

    text-decoration: none;

    color: white;
  }
}

.current-page {
  font-weight: bold;
}
