/* You can add global styles to this file, and also import other style files */
$selected-color: sandybrown;

* {
  margin:0;
  padding:0;
}
html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
}

