.item {
  width: 100px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  color:black;
  text-decoration: none;

  &__image {
    width: 25px;
  }

  &__name {
    padding: 0;
    margin: 0;
  }

  &:hover {
    font-weight: bold;
  }
}
