/* RESET */

*{
    margin:0;
    padding:0;
}


a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* GLOBALS */
html{
    font-family: Open Sans;
}

button{
    font-family: Open Sans;
}
body{
    color:rgb(70, 70, 70);
}

/* STYLING */
/* HEADER */

header {
    height: 4rem;
    padding:0rem 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgb(0,0,0,.12);
}


.logo__issuu-logo-svg{
    height: auto;
    width: 130px;
}

.logo__ih-Logo-mark{
    fill:#f26f61;
}

/* MAIN */
/* FORM */

.create-account{
    width:80%;
    margin:0 auto;
    padding: 6rem 0;
    display:flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap:2rem;
    font-size:1.2rem;
}

.create-account h1{
    font-size:2rem;
}

.create-account__form{
    display:flex;
    flex-direction: column;
    width:40rem;
}

.create-account label{
    font-weight: bold;
    margin-bottom:.5rem;
}

.create-account__terms{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap:.5rem
}


.create-account__pwd-area{
    position:relative;
    width:100%;
}
.create-account__pwd-toggle{
    position:absolute;
    right:-20px;
    top:2px;
    cursor:pointer;
}

.create-account__input, .create-account__terms{
    margin-bottom:2rem;
}

.create-account__input{
    height:2.5rem;
    border-radius: .25rem;
    border: 1px solid black;
    padding: 0 .75rem;
    font-size:1.1rem;
    width:100%;
}

.create-account__checkbox{
    position:relative;
    border:1px solid black;
    outline:none;
    appearance: none;
    border-radius: .4rem;
    width:1.8rem;
    height:1.8rem;
}


.create-account__checkbox:checked::after{
    content:"\2714";
    font-size:1.3rem;
    position: absolute;
    top:-.05rem;
    left:.3rem;
    color:#6da055;
}

.create-account__btt-submit{
    width:18rem;
    height: 4rem;
    background-color: white;
    border: 3px dashed lightgrey;
    border-radius: 3rem;
    text-transform: uppercase;
    color:lightgrey;

    font-size:1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
    
    cursor:pointer;
}

/* FOOTER */

footer{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    padding:0rem 6rem;

    height: 4rem;
    box-shadow: 0 -2px 4px rgb(0,0,0,.12);

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap:5rem;
    font-family: Inter,sans-serif;
}

.footer-links{
    display:flex;
    flex: row;
    gap:1.5rem;
    justify-content: left;
    align-items: center;
}