header {
  padding: 1rem;

  background-color: grey;

  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    color: white;
  }

  img {
    height: 3rem;
    filter:saturate(0);
  }
}
