@import "../../../styles.scss";

.product-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  flex-wrap: wrap;

  padding-bottom: 6.5rem;
}

.product-counter {
  position: fixed;
  bottom: 8rem;
  right: 0.5rem;

  padding: 0.5rem;
  border: 3px solid $selected-color;

  background-color: white;
  border-radius: 1rem;

  user-select: none;

  &--selected{
    background-color: $selected-color;
    border: 3px solid white;
    cursor: pointer;
  }
}

