<section class="product-list">
  <app-product
    *ngFor="let product of productListFiltered"
    [product]="product"
    (select)="onSelect()"
  ></app-product>
</section>
<p
  class="product-counter"
  (click)="toggleFilter()"
  [ngClass]="{ 'product-counter--selected': selectedItemsCount > 0 }"
>
  {{ textCount }}
</p>
