*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

body{
    background-color: rgb(112, 218, 250);
}

h2{
    text-align: center;
    margin:0;
    margin-top:50px;
    padding:0;
}

.background{
    position: relative;
    margin: 0 auto;
    height: 4rem;
    width: 38rem;
    background-color: white;

    box-shadow: 0px 4px 5px rgb(0,0,0,.2);
}

.bar1{
    position: absolute;
    height: 2rem;
    margin:1rem;
    width:30rem;
    background-color:rgb(209, 233, 255);
}

.progress1{
    position: absolute;
    height: 2rem;
    margin:1rem;
    width:0.5rem;
    background-color:rgb(77, 247, 62);
    z-index: 1;

    animation:load 4s steps(20, start) infinite;
}

.tick1{
    position: absolute;
    font-size:2rem;
    top:.6rem;
    left:33.5rem;
    color:rgb(209, 233, 255);

    animation: complete 4s infinite linear;
}

.bar2{
    position: absolute;
    height: 2rem;
    margin:1rem;
    width:30rem;
    background-color:rgb(209, 233, 255);
}

.progress2{
    position: absolute;
    height: 2rem;
    margin:1rem;
    width:.5rem;
    background-color:rgb(77, 247, 62);
    background-color:rgb(77, 247, 62);
    z-index: 1;

}

.tick2{
    position: absolute;
    font-size:2rem;
    top:.6rem;
    left:33.5rem;
    color:rgb(209, 233, 255);

}

@keyframes load{
    0%{
        width:.5rem;
    }
    20%{
        width:0.5rem;
    }
    60%{
        width:30rem;
    }
    100%{
        width:30rem;
    }
}

@keyframes complete{
    74%{
        color:rgb(209, 233, 255);
    }
    75%{
        color:rgb(77, 247, 62);
    }
    100%{
        color:rgb(77, 247, 62);
    }
}
