@import "../../../variables";

.game-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 1rem;

  .game {
    list-style: none;

    width: 150px;
    height: 210px;

    position: relative;

    &__img {
      width: 100%;
      height: 100%;
    }

    &__title {
      box-sizing: border-box;
      position: absolute;

      padding: 50% 0.5rem 0.5rem 0.5rem;

      bottom: 0;

      width: 100%;

      text-align: center;

      color: white;

      background: linear-gradient(to top, black, transparent);

      transition: 250ms;
    }

    &:hover > .game__title {
      font-size: 1.5rem;

      padding: 100% 0.5rem 0.5rem 0.5rem;
    }
  }
}

.page-manager {
  padding-top: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .page-buttons {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 1rem;
    margin: 1rem 0;

    button {
      font-size: 2rem;
      padding: 0.5rem;
      border: 0;
      border-radius: 0.5rem;

      color: white;

      background-color: $main-color;

      cursor: pointer;
    }
    p {
      width: 125px;
      max-width: 125px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
