<ul class="game-list">
  <a [routerLink]="['/detail',game.id]" class="game" *ngFor="let game of (data | filterList: currentPage: itemsPerPage)">
    <img class="game__img" [src]="game.img">
    <p class="game__title">{{game.name}}</p>
  </a>
</ul>
<div class="page-manager">
  <div class="page-buttons">
    <button (click)="decreasePage()">{{"<"}}</button>
    <p>Current page: {{currentPage}}</p>
    <button (click)="increasePage()">{{">"}}</button>
  </div>
</div>
