@media only screen and (max-width: 1600px) {
  .hero h1,
  .hero h2 {
    display: inline;
    width: fit-content;
    background-color: #0003;
  }
}

/* RESET */

* {
  padding: 0;
  margin: 0;
}

a {
  text-align: none;
  color: rgb(30, 117, 218);
}

ul {
  list-style: none;
}

/* GLOBALS */

html {
  font-family: bmwTypeNextWeb, Arial, Helvetica, sans-serif;
}

body {
  position: relative;
  background-image: url("../imgs/bg.jpg");
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
}

header,
.car-list,
.actions,
.blog,
.more-actions,
.page-info,
.privacy {
  width: 70%;
  margin: 0 auto;
  min-width: 840px;
}

/* STYLING */
/* NAVEGADOR */

header {
  display: flex;
  color: white;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  margin: 0 2rem;
  padding: 0 1rem;
}

.nav__links {
  list-style: none;
  display: flex;
  justify-content: left;
  font-weight: 700;
}

.nav__link-item {
  margin-right: 3rem;
}

.nav__other {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}

/* HERO */

.hero {
  max-height: 100vh;
  min-height: calc(100vh - 100px);
  color: white;
  margin-left: 5vw;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hero h1 {
  margin-top: calc(30vw - 100px);
  font-size: 3.5rem;
}
.hero h2 {
  font-size: 2rem;
}
.hero button {
  width: 22rem;
  height: 4rem;
  color: white;
  border: 0;
  background-color: rgb(24, 78, 228);
  font-size: 1rem;
}

/* Catalogo de coches */

.car-list_series {
  color: lightgrey;
}

.car-list__title {
  font-weight: bold;
}

.car-list__filter {
  position: relative;
  display: flex;
  width: 100;
  list-style: none;
  overflow-x: hidden;
  border-bottom: 1px solid lightgrey;
  align-items: center;
  margin-bottom: 2rem;
}

.car-list__filter-option {
  font-size: 1.25rem;
  margin: 2rem 2rem;
  width: auto;
  white-space: nowrap;
  font-weight: bold;
  color: lightgrey;
  cursor: pointer;
}

.car-list_filter-option--selected {
  position: relative;
  font-size: 2rem;
  color: black;
  cursor: default;
}
.car-list_filter-option--selected::after {
  content: "";
  width: 150%;
  height: 4px;
  background-color: rgb(24, 78, 228);
  position: absolute;
  top: 175%;
  left: -25%;
}

.car-list__btt-right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2rem;
  border: 0;
  background-color: #fff9;
  background-image: linear-gradient(to right, #fff5, #fff);
  color: lightgrey;
  font-size: 1rem;
  font-weight: bold;
}

.car-list__car-display {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.car-list__info {
  width: 16rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  margin-right: 2rem;
}

.car-list__price-area {
  display: flex;
  align-items: center;
}

.car-list__price {
  color: lightgrey;
}

.car-list__option {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.car-list__option::before {
  content: ">";
  margin-right: 0.5rem;
}

/* TARJETAS de ACCIONES */

.actions {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.actions__card {
  margin: 1rem;
  border: 1px solid lightgrey;
  padding: 1rem;
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.actions__img {
  width: 100%;
}

.actions__title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 90%;
}

.actions__title--important {
  text-transform: uppercase;
}

.actions__link {
  font-weight: bold;
  font-size: 1.1rem;
}

.actions__link::before {
  content: ">";
  margin-right: 0.5rem;
}

.actions__link--low-profile {
  font-weight: normal;
}

.actions__link--low-profile::before {
  content: "";
  margin-right: 0;
}

/* BLOG */

.blog {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
}

.blog__card {
  width: 45%;
  border: 1px solid lightgrey;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}

.blog__img {
  width: 100%;
}

.blog__title {
  font-size: 2rem;
  font-weight: bold;
}

.blog__link {
  font-weight: bold;
}

.blog__link::before {
  content: ">";
  margin-right: 0.5rem;
}

.more-actions {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.more-actions__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background-color: rgb(241, 241, 241);
  width: 24%;
  height: 7rem;
}

.more-actions__text {
  color: grey;
  font-weight: bold;
}

/* FOOTER */

footer {
  margin-top: 6rem;
  width: 100%;
}

.page-info {
  width: 70%;
  margin-top: 2rem;
  background-color: lightgrey;
  padding: 6rem 15% 6rem 15%;
}

.page-info__row {
  padding-top: 2rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  font-weight: bold;
}

.page-info__row::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: grey;
  top: -1rem;
}

.page-info__title {
  margin-bottom: 2rem;
  font-size: 1.25rem;
}

.page-info__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  color: grey;
}

.privacy {
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

.privacy__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  gap: 1rem;
}
