/* RESET */

* {
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* GLOBALS */
*{
    box-sizing: border-box;
    font-family: ReithSans, Arial, Helvetica, freesans, sans-serif;
}
body{
    padding:25px;
}
h1{
    font-size:1.5rem;
}

h2{
    font-size:.9rem;
}

/* STYLING */
/* HERO */


.hero{
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom:1px solid rgba(0,0,0,.1);
    
    width: 100%;

    display:grid;
    grid-template-areas:"foto titulo"
                        "foto titulo"
                        "desc desc";
    grid-template-columns:70% 30%;

}

.hero__img-cont{
    grid-area:foto;
}

.hero__img-cont > img{
    width:100%;
    height: 100%;

    object-fit: cover;

    overflow: hidden;
}

.hero__info{
    padding-left:1rem;
    
    grid-area: titulo;
    
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hero__add-news{
    padding-top:1rem;

    width:100%;

    grid-area: desc;

    display:flex;
    justify-content: space-between;
    gap:2rem;

    list-style: disc;

    font-size:.85rem;
    font-weight: bold;
}

.hero__title-descr > span{
    font-size:.75rem;
    font-weight: bold;
}

.hero__main-post-time{
    display: flex;
    align-items: center;

    font-size:.75rem;
}

.hero__item {
    margin-left:1rem;
}

/* SECONDARY LIST */

.secondary-list{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap:1rem;
}

.secondary-list > article > img{
    width:200px;
    height:125px;

    object-fit: cover;
}

.secondary-list__new{
    height: 125px;
    width:60%;

    display: flex;
}

.secondary-list__info{
    padding-left:10px;

    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.secondary-list__post-time{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.secondary-list__post-time > span{
    font-size:.75rem;
}


/* EXTRA NEWS */

.extra-news {
    margin-top:2rem;

    width:100%;

    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:1rem;
}

.extra-news__fix {
    display:flex;
    justify-content: space-between;
    gap:1rem;
}

.extra-news__variable {
    padding-top:1rem;
    border-top:1px solid rgba(0,0,0,.1);

    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:1rem;
}

.extra-news__news-card {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.extra-news__variable > article {
    padding-top: .5rem;
    padding-bottom: .5rem;

    width:50%;
}


.extra-news__fix > article > img{
    width:100%;
    height: 125px;

    object-fit: cover;
}

.extra-news__variable > article > img{
    width:100%;
    height: 125px;

    display:none;

    object-fit: cover;
}

.extra-news__post-time{
    display: flex;
    align-items: center;

    font-size:.7rem;
}

.extra-news__news-card--separator{
    padding-left: 1rem;
    border-left: 2px solid rgba(0,0,0,.1);
}

/* FEATURES */

.title-features{
    padding:1rem 0;

    width:100%;

    display:flex;
    align-items: center;
    gap: 1rem;

    font-weight: bold;
}

.title-features > hr{
    flex: 1;
}

.features{
    display:flex;
    gap:1rem;

}

.features__item{
    width:33.333%;
}

.features__item > img{
    width:100%;
 
    object-fit: cover;
}

.features__info{
    display:flex;
    align-items: center;
    justify-content: flex-start;
 
    font-size: .7rem;
}

.features__item--hidden {
    display:none;
}

/* GENERIC MODS */

.video::before{
    content:"\25B6";
 
    margin-right: .25rem;
}