
@media screen and (min-width: 900px){
    body{
        padding:10px 50px;
    }

    .hero{
        grid-template-areas: "foto titulo"
        "foto desc";

        width:80%;
        border:0;
    }

    .hero__info{
        justify-content: flex-start;
        flex-direction: column;
    }
    
    .hero__add-news{
        flex-direction: column;
        justify-content: flex-start;
        font-size:.7rem;
        gap:.5rem;
        padding-left:1rem;
    }


    .secondary-list{
        width:80%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .secondary-list__new{
        width:30%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: auto;
    }

    .secondary-list__info{
        padding:0;
    }

    .secondary-list > article > img{
        width:100%;
        height: 120px;
    }

    .extra-news {
        display:flex;
        flex-direction: row;
        gap:1rem;
    }
    
    .extra-news__fix {
        display:flex;
        width:calc(60% - .5rem);
        justify-content: space-between;
    }
    
    .extra-news__variable {
        display:flex;
        width:calc(40% - .5rem);
        justify-content: space-between;
        align-items: flex-start;
        padding:0;
        border:0;
    }
    
    .extra-news__variable > article > img {
        display:inline;
        width:100%;
    }
    .extra-news__fix > article{
        width:33.33%;
    }

    .extra-news__variable > article{
        width:50%;
        padding: 0;
    }

    .features__item--hidden {
        display:block;
    }

    .video{
        content:"";
        padding:0;
    }
}