<article *ngIf="product" class="product" (click)="onSelect()" [ngClass]="{'product--selected':product.selected}">
  <h2>{{product.name}}</h2>
  <i>{{product.type}}</i>
  <p>{{product.diet}}</p>
  <img [src]="product.img">
</article>
