@import "../../../../styles.scss";

.product {
  width: 250px;
  height: 300px;

  padding: 1rem;
  margin: 1rem;

  border: 1px solid $selected-color;
  border-radius: 1rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  user-select: none;

  cursor: pointer;

  transition: 500ms;

  img {
    max-width: 100%;
    max-height: 50%;
    mix-blend-mode: multiply;
  }

  &--selected {
    background-color: $selected-color;
    transform: scale(1.05);
  }
}
