/* RESET */
*{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* GLOBALS */

html{
    font-family:"Graphik Cond Web",Graphik,Arial,sans-serif;
}

/* STYLING */
/* HEADER */

/* Navegador central, incluye el CSS y la mini barra navegadora secuencial justo debajo del h1 */
header{
    height:10rem;
    position: relative;
}

.nav-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2rem;
    gap:1rem;
}

.nav-center h1{
    text-transform: uppercase;
    font-size:3.5rem;
}

.nav-center__path{
    display: flex;
    padding:0;
    gap:2rem;
    color:lightgrey;
    list-style: none;
    position:relative;
    font-size:.8rem;
}

.nav-center__item{
    cursor:pointer;
}

.nav-center__item::after{
    content:">";
    position: absolute;
    margin-left:.8rem;
    color:black;
    cursor:default;
}

.nav-center__item--last{
    color:black;
    cursor:default;
}

.nav-center__item--last::after{
    content:"";
}

/* Navegador izquierda que solapa con el grid */

.left-nav{
    position:absolute;
    top:3rem;
    left:2rem;
    display:flex;
    flex-direction: column;
    justify-content: left;
    gap:.5rem;
    font-size:1.4rem;
    font-weight: 500;
    z-index:1;
}

.left-nav__gender{
    display: flex;
    gap:1rem;
    margin-bottom:.5rem;
    text-transform: uppercase;
    font-size:1rem;
    font-weight: bold;
}

.left-nav__gender-item{
    color:grey;
    cursor:pointer;
}

.left-nav__gender-item--selected{
    color:black;
    cursor:default;
}

.left-nav__item{    
    cursor:pointer;
}

.left-nav__item--selected{
    font-weight: 700;
    cursor: default;
}

.left-nav__item--highlight{
    color:rgb(189, 0, 0);
}

/* herramientas de filtrado en la zona derecha del navegador */

.product-filter{
    position:absolute;
    top:3rem;
    right:2rem;
}

.product-filter__search-area{
    display: flex;
    position:relative;
    justify-content: right;
    flex-direction: row;
    gap:1rem;
}

.product-filter__input{
    outline: none;
    border:none;
    border-bottom:2px solid black;
    width:12rem;
    padding-left:1.5rem;
    padding-bottom:.5rem;
}

.product-filter__input::placeholder{
    color:black;
    font-weight: 700;
}

.product-filter__lupa-img{
    position: absolute;
    left:0;
    stroke-width: 2px;
}

.product-filter__user-img{
    width:14px;
    height: 18px;
    fill:none;
    stroke:black;
    stroke-width: 2px;
}
.product-filter__cart-img{
    width:14px;
    height: 18px;
    fill:none;
    stroke:black;
    stroke-width: 1px;
}

.product-filter__filter-area{
    margin-top:2rem;
    display: flex;
    gap:1rem;
    justify-content: right;
    text-transform: uppercase;
    font-size: .7rem;
}


.product-filter__vista{
    display: flex;
    gap:.75rem;
}


/* MAIN */

.product-grid{
    width:95%;
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(20%, max-content));
    grid-gap:1rem;
    justify-content: center;
    margin:0 auto;
}

.product-grid__template{
    position: relative;
    width:100%;
    margin-bottom:10%;
    font-size:.8rem;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:.4rem;
}

.product-grid__img-container{
    position:relative;
    width:100%;
}

.product-grid__img{
    width:100%;
}

.product-grid__price{
    font-weight: bold;
}

.product-grid__tag{
    position: absolute;
    left:1rem;
    bottom:1rem;
    z-index:1;
    background-color: white;
    text-transform: uppercase;
    font-size: .6rem;
    padding:.1rem .2rem;
}

.product-grid__tag--hidden{
    display: none;
}


/* FOOTER */
footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:relative;
}

footer > section{
    padding-top:4rem;
    padding-bottom:3rem;
    width:100%;
    box-shadow: 0px -2px 2px rgb(0,0,0,.1);
}

/* Primera seccion del footer, la newsletter */
.newsletter{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.newsletter__text{
    font-size:2rem;
    text-transform: uppercase;
}

.newsletter__text--destacado{
    font-weight: bold;
}

.newsletter__form{
    margin-top: 2rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.newsletter__label{
    font-size:.8rem;
}

.newsletter__input{
    outline:none;
    border:none;
    border-bottom:1px solid black;
    width:40rem;
    height: 2rem;
    text-align: center;
}

/* Información de contacto */

.contact{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    font-size:.8rem;
}

.contact__title{
    font-weight: bold;
}

.contact__options{
    display:flex;
    align-items: center;
    gap:.5rem
}

.contact__opt::after{
    content:"|";
    margin-left:.5rem;

}

.contact__opt--last::after{
    content:"";
}

.contact__opt--tlf{
    color:rgb(57, 207, 157);
}


.contact__tlf{
    display:flex;
    gap:.5rem;
    align-items: center;
}

/* Grupo de listas con enlaces a otros sitios de la web o informacion */
.info__super-list{
    width:90%;
    margin:0 auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
    font-size:.8rem;

}

.info__title{
    font-weight: bold;
    margin-bottom:2rem;
}

.info__sublist{
    list-style: none;
}

.info__sublist-item{
    margin:1rem 0;
    display: flex;
    align-items: center;
    justify-content: left;
}

.info__sublist-img{
    width:.8rem;
    margin-right: .5rem;
}

.arrow_up{
    position:absolute;
    right:2rem;
    bottom:5rem;
}

/* ultima seccion, enlaces a app sy mas */

.endpage{
    padding:0;
    font-size:.8rem;
    display: flex;
    justify-content: space-between;
}

.endpage__column{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width:25%;
    padding:2rem 0;
    box-shadow:2px 0px 2px rgb(0,0,0,.1);
}