@import "../../../variables";


.detail {
  &__image {
    float: left;
    width: 50%;

    padding: 0 0.5rem 0.5rem 0;
    margin-right: 0.5rem;
  }

  &__title {
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;

    color: $main-color;
  }
}
