p{
    user-select: none;
}

.name-label{
    display:inline-block;
}

.clickable{
    cursor:pointer;
}


.characters {
    display:flex;
    flex-wrap: wrap;
}

.chr > img{
    width:100px;
}

.chr {
    width:200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.filter{
    display:block;
}

.character-list--hidden {
    display:none;
}

.chr--hidden{
    display:none
}