.chr-carousel {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2rem 0;
}

.chr-carousel__item * {
  user-select: none;
  pointer-events:none;
}

.chr-carousel__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width:18%;
  height: 20rem;
  overflow-y:hidden;
}

.chr-carousel__item--selected > p {
  font-weight: bold;
  color: red;
  font-size:2rem;
}
.chr-carousel__item--selected{
  height: 23rem;
}

.chr-carousel__item > img{
  width:200px;
}

.fight {
  display:block;
  margin:auto;

  border: 0;
  background-color: transparent;

  font-size: 2rem;
  font-weight: bold;

  cursor: pointer;
}

.hidden {
  display:none;
}