*{
    border:0;
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

a:link{
    color:rgb(0, 156, 156);
}
a:visited{
    color:rgb(0, 156, 156);

}
.register-form{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin:5rem;
    gap:5rem;

}

.register-form__title{
    font-size:2.8rem;
    font-family: "Means Web", Georgia, Times, "Times New Roman", serif;
    font-weight: 400;
}

.register-form__descr>a{
    text-decoration: none;
}

.register-form__chimp-logo{
    width:12rem;
    margin-top:2rem;
}

.register-form__block{
    width:36rem;
    height: 20rem;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:1rem;
}

.register-form__form{
    display:flex;
    flex-direction: column;
}

.register-form__label{
    font-weight: 700;
}

.register-form__input{
    width:100%;
    border:1px solid lightgrey;
    border-radius: .1rem;
    height: 2.5rem;
    margin-top:.5rem;
    margin-bottom:1rem;
    padding-left:1rem;
}

.register-form__pwd-area{
    width: 100%;
    position: relative;
}

.register-form__toggle-pwd{
    display:flex;
    position: absolute;
    color:rgb(0, 156, 156);
    align-items: center;
    font-weight: bold;
    right:0;
    bottom:4rem;
    cursor:pointer;
}

.register-form__toggle-pwd img{
    width:2rem;
}
.register-form__pwd-req{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    height:6rem;
    list-style:none;
    font-size:.8rem;
}

.register-form__pwd-req-ele::before{
    content:"●";
    font-size:1.25rem;
    margin-right:.25rem;
    color:rgb(0, 156, 156);

}
.register-form__submit-area{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap:2rem;
    margin-top:3rem;
}

.register-form__btt-submit{
    width:10rem;
    height: 3rem;
    border:1px solid lightgrey;
    background-color: white;
    color:lightgrey;
}

.register-form__offers{
    display: flex;
    gap:.5rem;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.register-form__cb-offers{
    position: relative;
    min-width:1.5rem;
    min-height:1.5rem;
    appearance: none;
    outline:none;
    border: 1px solid lightgrey;
}

.register-form__cb-offers:checked::after{
    content:"\2714";
    font-size:1.25rem;
    position: absolute;
    top:-.2rem;
    left:.2rem;
    color:rgb(0, 156, 156);
}

.register-form__agreement{
    margin-top:2rem;
}