header {
  width: 100%;

  display: flex;
  flex-direction: column;

  .contact {
    padding: 1rem $pageLateralPading;

    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__options {
      display: flex;
      justify-content: space-evenly;
      align-items: baseline;

      font-size:.8rem;
    }

    &__item{
      margin:0 5px;

      img {
        width:13px;
        margin-right: 2px;
        fill: $lightGrey;
      }

      ::after{
        content:"|";
        margin-left:5px;
      }

      &--telephone{
        font-size: 1.5rem;
        img{
          width:1.2rem;
        }

        ::after{
          content:"";
          margin:0;
        }
      }
    }
  }

  .nav-top {
    padding: 0 $pageLateralPading;
    border: 1px solid $lightGrey;

    width: 100%;
    height: 3.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: white;

    font-size: 0.7rem;

    &__item {
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      text-transform: uppercase;

      &--button {
        height: 100%;
        width: 3rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: $colorGreen;

        color: white;
        text-transform: uppercase;

        img{
          width:1.5rem;
        }
      }

      &--selected {
        border-top: 4px solid transparent;
        border-bottom: 4px solid $colorGreen;

        font-weight: bold;
      }
    }
  }
}
