@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,700;1,400&display=swap");
header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .contact {
  padding: 1rem 10rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .contact__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: .8rem;
}

header .contact__item {
  margin: 0 5px;
}

header .contact__item img {
  width: 13px;
  margin-right: 2px;
  fill: #b6b6b6;
}

header .contact__item ::after {
  content: "|";
  margin-left: 5px;
}

header .contact__item--telephone {
  font-size: 1.5rem;
}

header .contact__item--telephone img {
  width: 1.2rem;
}

header .contact__item--telephone ::after {
  content: "";
  margin: 0;
}

header .nav-top {
  padding: 0 10rem;
  border: 1px solid #b6b6b6;
  width: 100%;
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  font-size: 0.7rem;
}

header .nav-top__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

header .nav-top__item--button {
  height: 100%;
  width: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #33b40c;
  color: white;
  text-transform: uppercase;
}

header .nav-top__item--button img {
  width: 1.5rem;
}

header .nav-top__item--selected {
  border-top: 4px solid transparent;
  border-bottom: 4px solid #33b40c;
  font-weight: bold;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40rem;
  background-color: white;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* GLOBALS */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Asap", sans-serif;
}

body {
  background-color: #e6e6e6;
}
/*# sourceMappingURL=main.css.map */