@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,700;1,400&display=swap");

@import "variables";

@import "header";
@import "footer";

/* RESET */

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* GLOBALS */

* {
  box-sizing: border-box;

  font-family: "Asap", sans-serif;
}

body{
  background-color: $colorBG;
}