<form class="contact-form">
  <section class="contact-form__input-block">
    <label for="user-name">Name: </label>
    <input name="user-name" id="user-name" [(ngModel)]="name" type="text" />
  </section>
  <section class="contact-form__input-block">
    <label for="user-email">Email: </label>
    <input name="user-email" id="user-email" [(ngModel)]="email" type="email" />
  </section>
  <section class="contact-form__input-block">
    <label for="user-password">Password: </label>
    <input
      name="user-password"
      id="user-password"
      [(ngModel)]="password"
      type="password"
    />
  </section>
  <button>Send</button>
</form>
