.contact-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__input-block {
    padding: 0 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    label {
      text-align: left;
    }
    input {
      margin-left: .75rem;
    }
  }

  button {
    width: 5rem;
  }
}
